<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios EJS</title>
</head>
<body>
    <h1>Hola a la pagina de servicios <%= tituloServicios %></h1>
</body>
</html>